language: php

dist: trusty
sudo: false

git:
  depth: 1

php:
  - 7.4
  - 7.3
  - 7.2

cache:
  directories:
    - $HOME/.composer/cache/files
    - .phpunit
    - vendor

env:
  global:
    - SYMFONY_PHPUNIT_DIR=.phpunit
    - APP_ENV=test

before_install:
  - phpenv config-rm xdebug.ini

install:
  - composer update --no-suggest
  - ./vendor/bin/simple-phpunit install

script:
  - ./vendor/bin/simple-phpunit
  - ./vendor/bin/php-cs-fixer fix --dry-run --diff
